#content .heading {
  display: flex;
  align-items: center;
}

#content .sub-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content .sub-heading .sub {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content .sub-heading .sub {
  list-style-type: none;
}

#content .sub-heading #posts-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content .table-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-table {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.text-size {
  font-size: 12px;
}
